<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <atma>
            <google_client>
                <enable>0</enable>
            </google_client>
        </atma>
    </default>
</config>
