<?xml version="1.0" ?>
<!--
  ~ Microsoft Dynamics
  ~
  ~ @company     ImportDirect
  ~ @package     ImportDirect_MicrosoftDynamics
  ~ @copyright   Copyright (c) 2020 ImportDirect
  ~ @author      Stefan Iurasog <office@green-art.ro>
  ~ @link        http://www.green-art.ro
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Atma_Products" setup_version="1.0.0">
		<sequence>
			<module name="Magento_Catalog"/>
		</sequence>
	</module>
</config>
